# 全てのファイルを一度無視
/*

# さらにドットから始まる設定ファイルを無視
/.*

# "無視したくないファイル"は以下に"![ファイル名]"で指定
##### Gitで管理するファイルリスト #####
!.editorconfig
!.gitconfig
!.github/
!.gitignore
!.gitmodules
!.huskyrc
!.vimrc
!.zlogin
!.zlogout
!.zprezto/
!.zpreztorc
!.zprofile
!.zshenv
!.zshrc
!alias_script
!commitlint.config.js
!dot_Brewfile
!dot_vimrc
!dot_zlogin
!dot_zlogout
!dot_zprofile
!dot_zshenv
!dot_zshrc
!init.sh
!langconf.sh
!package.json
!README.md
!yarn.lock
!dot_gitconfig
