[alias]
  co = fetch && checkout
  cob = checkout -b
  coo = !git fetch && git checkout
  br = branch
  brd = branch -d
  brD = branch -D
  merged = branch --merged
  st = status
  aa = add -A .
  cm = commit -m
  cp = cherry-pick
  amend = commit --amend -m
  master = !git checkout master && git pull origin
  develop = !git checkout develop && git pull origin develop
  pu = !git push origin `git branch --show-current`
  po = push origin
	pod = push origin develop
	pom = push origin master
	poh = push origin HEAD
  plo = pull origin
	plod = pull origin develop
	plom = pull origin master
	ploh = pull origin HEAD
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	f = "!git ls-files | grep -i"

[user]
	name = hayate.tanaka
	email = tanattyokana@gmail.com
