# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme
 
shell = "zsh"

# Sheldon Templates

[templates]
# cf. https://sheldon.cli.rs/Examples.html
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"
 
[plugins.zsh-defer]
github = "romkatv/zsh-defer"


# Zsh Plugins

[plugins.zsh-autosuggestions]
github = 'zsh-users/zsh-autosuggestions'
apply = ['defer']

[plugins.zsh-completions]
github = 'zsh-users/zsh-completions'
apply = ['defer']

[plugins.zsh-syntax-highlighting]
github = 'zsh-users/zsh-syntax-highlighting'
apply = ['defer']

[plugins.zsh-autopair]
github = 'hlissner/zsh-autopair'
apply = ['defer']

[plugins.zsh-abbr]
github = 'olets/zsh-abbr'

[plugins.zsh-history-on-success]
github = 'nyoungstudios/zsh-history-on-success'

[plugins.oh-my-zsh]
github = "ohmyzsh/ohmyzsh"

[plugins.spaceship]
github = "spaceship-prompt/spaceship-prompt"

[plugins.mise]
inline = 'eval "$(~/.local/bin/mise activate zsh)"'

# Alias